# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore .tfvars secret files
#*secret*.*tfvars*

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*
tf-plans/1-hub/3-sharedsvc/resources/AcrCreateHelmSP.ps1
tf-plans/1-hub/3-sharedsvc/resources/AcrImportExternalImages.ps1
tf-plans/1-hub/3-sharedsvc/resources/images/wordpress/CreatePushImage.ps1
tf-plans/1-hub/3-sharedsvc/resources/AcrMoveImages.ps1
tf-plans/1-hub/3-sharedsvc/resources/images/wordpress/wp-dockerfile
tf-plans/1-hub/4-networking/resources/Vpn_CertsGeneration.ps1
tf-plans/1-hub/4-networking/resources/Vpn_CertsGeneration.sh
tf-plans/1-hub/4-networking/resources/Vpn_RoutesAdd.ps1
tf-plans/1-hub/6-appgw/main_hub-appgw.tf
tf-plans/1-hub/6-appgw/variables_hub-appgw.tf
tf-plans/1-hub/6-appgw/variables_hub-networking.tf
tf-plans/1-hub/6-appgw/variables_hub-sharedsvc.tf
tf-plans/1-hub/6-appgw/variables_tfspn.tf
tf-plans/1-hub/6-appgw/appgw-logviewer-goaccess/azuredeploy.json
tf-plans/1-hub/6-appgw/appgw-logviewer-goaccess/azuredeploy.parameters.json
tf-plans/1-hub/6-appgw/appgw-logviewer-goaccess/metadata.json
tf-plans/1-hub/6-appgw/appgw-logviewer-goaccess/README.md
tf-plans/1-hub/6-appgw/appgw-logviewer-goaccess/scripts/AppGatewayLogProcessor.zip
tf-plans/1-hub/6-appgw/appgw-logviewer-goaccess/scripts/setup_vm.sh
tf-plans/1-hub/6-appgw/resources/404.htm
tf-plans/1-hub/6-appgw/resources/aowgw403.htm
tf-plans/1-hub/6-appgw/resources/aowgw502.htm
tf-plans/1-hub/6-appgw/resources/bcagw403.htm
tf-plans/1-hub/6-appgw/resources/bcagw502.htm
tf-plans/1-hub/6-appgw/resources/emwgw403.htm
tf-plans/1-hub/6-appgw/resources/emwgw502.htm
tf-plans/1-hub/6-appgw/resources/iisstart.png
tf-plans/1-hub/6-appgw/resources/rdvgw403.htm
tf-plans/1-hub/6-appgw/resources/rdvgw502.htm
tf-plans/1-hub/6-appgw/resources/tlcgw403.htm
tf-plans/1-hub/6-appgw/resources/tlcgw502.htm
tf-plans/3-aks/Aks_Full_Deploy.ps1
tf-plans/3-aks/5-k8svalidate/resources/akv2k8s-installation.ps1
tf-plans/3-aks/5-k8svalidate/resources/akv2k8s-tests-sec.yaml
tf-plans/3-aks/5-k8svalidate/resources/akv2k8s-uninstallation.ps1
tf-plans/3-aks/5-k8svalidate/resources/voting-test-app.yaml
tf-plans/3-aks/6-k8sapps/lightcircle/1-mysql/main_tlc-mysql.tf
tf-plans/3-aks/6-k8sapps/lightcircle/1-mysql/variables_aks-cluster.tf
tf-plans/3-aks/6-k8sapps/lightcircle/1-mysql/variables_aks-defaults.tf
tf-plans/3-aks/6-k8sapps/lightcircle/1-mysql/variables_aks-shared.tf
tf-plans/3-aks/6-k8sapps/lightcircle/1-mysql/variables_hub-sharedsvc.tf
tf-plans/3-aks/6-k8sapps/lightcircle/1-mysql/variables_mysql-defaults.tf
tf-plans/3-aks/6-k8sapps/lightcircle/1-mysql/variables_tfspn.tf
tf-plans/3-aks/6-k8sapps/lightcircle/1-mysql/variables_tlc-mysql.tf
tf-plans/3-aks/6-k8sapps/lightcircle/1-mysql/resources/automysqlbackup_Init.sh
tf-plans/3-aks/6-k8sapps/lightcircle/2-wordpress/main_tlc-wp.tf
tf-plans/3-aks/6-k8sapps/lightcircle/2-wordpress/variables_aks-cluster.tf
tf-plans/3-aks/6-k8sapps/lightcircle/2-wordpress/variables_aks-defaults.tf
tf-plans/3-aks/6-k8sapps/lightcircle/2-wordpress/variables_aks-shared.tf
tf-plans/3-aks/6-k8sapps/lightcircle/2-wordpress/variables_tlc-mysql.tf
tf-plans/3-aks/6-k8sapps/lightcircle/2-wordpress/variables_tlc-wp.tf
tf-plans/3-aks/6-k8sapps/lightcircle/2-wordpress/variables-tfspn.tf
tf-plans/3-aks/6-k8sapps/lightcircle/2-wordpress/ressources/TlcGoogleAnalyticsTag.txt
tf-plans/3-aks/6-k8sapps/lightcircle/2-wordpress/ressources/WpLiveProbeTest.txt
tf-plans/5-perso/BackupsNas/main_backupsnas.tf
tf-plans/5-perso/BackupsNas/variables_backupsnas.tf
tf-plans/5-perso/BackupsNas/variables_tfspn.tf
tf-plans/5-perso/TheLightCircle/main_thelightcircle.tf
tf-plans/5-perso/TheLightCircle/variables_tfspn.tf
tf-plans/5-perso/TheLightCircle/variables_thelightcircle.tf
tf-plans/3-aks/Aks_Full_TearDown.ps1
tf-plans/3-aks/subscription_aks_createSp.ps1
